a {
  color: antiquewhite;
  text-decoration: none;
}

.mainWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  animation: showRight 1.5s;
  flex-wrap: wrap;


  .wrapper {
    width: 350px;
    font-size: 20px;
    text-align: center;
    font-family: 'Nosifer', cursive;
    color: antiquewhite;
    @media screen and (max-width: 700px) {
      width: 250px;
    }

    .description {
      font-size: 13px;
      color: antiquewhite;
      margin-top: 100px;
      margin-bottom: 20px;
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
    }

    .imageWrapper {
      height: 350px;
      width: 350px;
      @media screen and (max-width: 700px) {
        width: 250px;
      }
      .img {
        height: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;

}

@keyframes showRight {

  from {
    right: -100%;
  }

  to {
    right: 0;
  }

}