.mainWrapper {
  height: calc(100vh - 250px);
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  animation: showRight 1.5s;

  .nameWrapper {
    min-height: 700px;
    font-size: 20px;
    text-align: center;
    font-family: 'Nosifer', cursive;
    color: antiquewhite;
    text-decoration: none;
    .imageWrapper {
      height: 150px;
      width: 350px;
    }
    .description {
      font-size: 13px;
      color: antiquewhite;
    }
    .name {
      color: antiquewhite;
    }
  }
  .img {
    height: 100%;

  }
}
.pagination {
  display: flex;
  justify-content: center;
}
@keyframes showRight {

  from {
    right: -100%;
  }

  to {
    right: 0;
  }

}