.mainWrapper {
  height: calc(100vh - 350px);
  width: 100%;
  display: flex;
  justify-content: space-around;

  .name {
    color: blanchedalmond;
    min-height: 700px;
    font-size: 30px;
    text-align: center;
    font-family: 'Nosifer', cursive;
    background: url("../../../assets/images/backgroundblock.Q.png");
    .imageWrapper {
      height: 300px;
      width: 300px;
    }
    .description {
      font-size: 10px;
      color: antiquewhite;

    }
  }
  .img {
    height: 100%;

  }
}
.pagination {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
